@font-face {
    font-family: 'GothamPro_bold';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype'),
        url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype'),
        url('../fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro_light';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff'),
        url('../fonts/GothamPro-Light.ttf') format('truetype'),
        url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GothamPro_medium';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype'),
        url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
.reg(){
	font-family: 'Gotham Pro', sans-serif;
}
.bold(){
	font-family: 'GothamPro_bold', sans-serif;
}
.light(){
	font-family: 'GothamPro_light', sans-serif;
}
.medium(){
	font-family: 'GothamPro_medium', sans-serif;
}


@btn-color: #ffd200;
@fon: #f4f4f4;

.text{
	font-size: 1.1rem;
	.light();
	color: #cbc6c6;
}

.button{
	padding: 1.7rem 2.9rem;
	font-size: 1.2rem;
	.medium();
	color: #000000;
	background-color: @btn-color;
	border: none;
	transition: all 0.2s;
	&:hover{
		background-color: darken(@btn-color, 7%);
	}
}

.main{
	.header{
		margin-top: 2.8rem;
		.media{
			&-heading{
				font-size: 2rem;
				.bold();
			}
		}
		.phone-block{
			text-align: right;
			.phone-link{
					margin: 3px 0 3px;
					font-size: 1.8rem;
					.bold();
					&-text{
						font-size: 1.1rem;
						.reg();
						color: #cbc6c6;
					}
				&-block{
					color: #dcdcdc;
				}
			}
		}
		&-button{
			padding: 1.1rem 3rem;
			background-color: #ffffff;
			font-size: 1.2rem;
			text-align: right;
			border: 2px solid #000000;
			transition: all 0.2s;
			&:hover{
				background-color: darken(#ffffff, 5%);
			}
		}
	}
	.navbar{
		background-color: @btn-color;
		transform: translateY(81%);
		border-radius: 0;
		a{
			padding: 1.9rem 6.6rem;
			font-size: 1.2rem;
			.medium();
			color: #000;
			&:hover{
				background-color: @btn-color;
				background-color: darken(@btn-color, 5%);
				text-decoration: underline;
			}
		}
	}

	&-content{
		background: url(../img/fon-bg.png) center no-repeat;
		background-size: cover;
		color: #ffffff;
		h1{
			margin-top: 15.7rem;
			font-size: 3.6em;
			.bold();
		}
		p{
			margin-top: 3rem;
			font-size: 1.4rem;
			.light();
		}
		&-button{
			margin-top: 6rem;
			margin-bottom: 14rem;
		}
		span{
			margin-left: 2rem;
			font-size: 1.2rem;
			a{
				margin-left: 1rem;
				text-decoration: underline;
				color: #ffffff;
			}
		}
	}
} 

.product{
	text-align: center;
	h2{
		margin-top: 6rem;
		font-size: 2rem;
		.bold();
		text-transform: uppercase;
	}
	&-list{
		padding: 5rem 0rem 3.5rem 0rem;
		width: 30rem;
		margin-top: 5.8rem;
		margin-bottom: 8rem;
		margin-left: 13rem;
		border: 2px solid @fon;
		img{
			height: 12rem;
		}
		h3{
			margin-top: 4rem;
			font-size: 1.5rem;
			.medium();
			text-decoration: underline;
		}
		p{
			margin-top: 1.3rem;
			height: 8rem;
			font-size: 1.3rem;
			.light();
		}
		span{
			display: block;
			margin-top: 1.5rem;
			font-size: 1.6rem;
			.medium();
		}
		&-button{
			margin-top: 3rem;
			width: 18rem;
			&:hover{
				text-decoration: underline;
			}
		}
		&-right{
			margin-left: 16rem;
		}
		&-left{
			margin-left: 10rem;
		}
	}
}

.slant{
	background-color: @fon;
	text-align: center;
	h2{
		margin-top: 7rem;
		font-size: 2rem;
		.bold();
		text-transform: uppercase;
	}
	&-list{
		padding: 4rem 1rem;
		width: 30rem;
		margin-top: 5.8rem;
		margin-bottom: 11.8rem;
		margin-left: 3rem;
		border: 2px solid #ffffff;
		h3{
			margin-top: 3.5rem;
			font-size: 1.5rem;
			font-size: 1.5rem;
			.medium();
		}
		p{
			margin-top: 1.2rem;
			height: 4rem;
			font-size: 1.2rem;
			.light();
		}
		&:hover{
			background-color: #ffffff;
			box-shadow: 2px 7px 21px 0px rgba(0, 0, 0, 0.17);
			transition: all 0.3s;
			cursor: default;
		}
		&-left{
			margin-left: 0rem;
		}
		&-right{
			margin-left: 6rem;
		}
	}
}

.popular{
	text-align: center;
	h2{
		margin-top: 7rem;
		font-size: 2rem;
		.bold();
		text-transform: uppercase;
	}
	&-list{
		padding: 2rem 0rem;
		margin-top: 5.5rem;
		margin-bottom: 9.4rem;
		width: 22rem;
		border: 2px solid @fon;
		&-block{
			&-left{
			margin-left: 5rem;
		}
		&-right{
			margin-left: 0rem;
		}
		}
		&-left{
			margin-left: 10rem;
		}
		&-right{
			margin-left: -5rem;
		}
		h4{
			margin-top: 1.8rem;
			height: 3rem;
			font-size: 1.3rem;
			.reg();
			text-decoration: underline;
		}
		&-block{
			// margin-top: -2rem;
		}
		p{
			font-size: 1rem;
			.reg();
			// text-decoration: line-through;
			color: #bfbebe;
			strong{
				font-size: 1.6rem;
			.medium();
				color: #fb0202;
			}
		}
		span{
			display: block;
			height: 3.4rem;
			strong{
				font-size: 1.6rem;
			.medium();
			}
		}
		&-button{
			width: 18rem;
			margin-top: 1.5rem;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.services{
	background-color: @fon;
	text-align: center;
	h2{
		margin-top: 7rem;
		font-size: 2rem;
		.bold();
		text-transform: uppercase;
	}
	&-list{
		padding: 5rem 0 3.5rem 0;
		margin-top: 5.8rem;
		margin-bottom: 8rem;
		margin-left: 12.5rem;
		width: 30rem;
		border: 2px solid #ffffff;
		transition: all 0.3s;
		&:hover{
			background-color: #ffffff;
			box-shadow: 2px 7px 21px 0px rgba(0, 0, 0, 0.17);
			cursor: default;
		}
		&-left{
			margin-left: 9rem;
		}
		&-right{
			margin-left: 16rem;
		}
		img{
			height: 12rem;
		}
		h3{
			margin-top: 3rem;
			font-size: 1.5em;
			.medium();
			text-decoration: underline;
		}
	}
}

.contact{
	background: url(../img/contact/fon.jpg) center no-repeat;
	background-size: cover;
	&-list{
		padding: 3rem 0 5.5rem 6rem;
		margin-top: 8rem;
		margin-bottom: 8rem;
		width: 38rem;
		border: 2px solid @fon;
		background-color: #ffffff;
		transform: translateX(175%);
		h2{
			font-size: 2rem;
			.bold();
			text-transform: uppercase;
		}
		&-tel{
			margin-top: 4rem;
			img{
				margin-top: -6rem;
				margin-right: 1rem;
			}
			p{
				display: inline-block;
				font-size: 1.4rem;
				.medium();
				line-height: 2;
			}
		}
		&-local{
			margin-top: 3.2rem;
			img{
				margin-top: -4rem;
				margin-right: 1rem;
			}
			p{
				display: inline-block;
				font-size: 1.4rem;
				.reg();
			}
		}
		&-mail{
			margin-top: 3.2rem;
			img{
				margin-right: 1rem;
			}
			p{
				display: inline-block;
				font-size: 1.4rem;
				.reg();
				text-decoration: underline;
			}
		}
	}
}

.futer{
	background-color: #292929;
	color: #ffffff;
	&-header{
		.media{
			margin-top: 4rem;
			&-body{
				span{
					color: #ffffff;
				}
			}
			p{
				margin-top: 5rem;
				margin-bottom: 4.1rem;
				font-size: 1.2rem;
				.reg();
			}
		}
		.phone-block{
			margin-top: 3.5rem;
			}
		}
		
			&-button{
				padding: 1.1rem 3rem;
				margin-top: 2.5rem;
			 font-size: 1.2rem;
			 text-align: right;
				background-color: #292929;
				border: 2px solid #ffffff;
				&:hover{
					background-color: darken(#292929, 5%);
				}
			}
	}
